.git
.turbo
.vercel
.DS_Store

node_modules
apps/*/node_modules
.pnpm-store/

apps/storefront/.next
apps/storefront/out
apps/storefront/tsconfig.tsbuildinfo
apps/backend/.medusa
apps/backend/dist
apps/backend/build
apps/backend/uploads

coverage
*.log

.env
.env.*
apps/*/.env
apps/*/.env.*
